<h1 class="page_title">パスワード変更</h1>
<div class="form_area">

  <%= form_for current_user, url: {action: 'password_update'} do |f| %>
    <p>メールアドレス：<%= current_user.email %></p>

    <div class="form-group">
      <%= f.label :current_password %><br />
      <%= f.password_field :current_password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :new_password %><br />
      <%= f.password_field :password, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control' %>
    </div>

    <div class="actions">
      <%= f.submit "Update" %>
    </div>
  <% end %>
</div>
