<h1 class="page_title">販売チケット一覧</h1>
  <div class="row">
    <% @array.each do |t| %>
        <div class="card" >
          <div class="card_header">
            <div class="card_image">
              <%= image_tag t['ticket_image_url'], {:style => "width:60px"} %>
            </div>
            <div class="card_title">
              <%= t['title']['rendered'] %>
            </div>
          </div>
          <p class="card_text">
            <%= t['caption'].html_safe %>
          </p>
          <dl class="card_shop">
            <dt>使えるお店</dt>
            <dd>
              <ul class="yokonarabi">
                  <% t['shop_images'].each do |icon| %>
                  <li>
                    <%= image_tag icon, :size=>'40x40' %>
                  </li>
                  <% end %>
              </ul>
            </dd>
          </dl>
          <dl class="card_info">
            <dt>有効期限</dt>
            <dd><%= t['period'] %></dd>
          </dl>
          <dl class="card_info">
            <dt>販売価格</dt>
            <dd><%= t['price'] %></dd>
          </dl>
          <%= link_to "詳細", posts_show_path(:id => t['id'], :pr_code => t['pr_code']), :class => 'btn btn-primary' %>
        </div>

    <% end %>

  </div>
