<div class="row">
  <div class="container-fluid mt-4">
      <div class="row justify-content-center">
          <div class="col-auto mb-3">
              <div class="card bg-light" style="width: 40rem;">
                  <div class="card-body">
                    <a class="navbar-brand" href="/">
                      <%= image_tag @detail['ticket_image_url'], :size=>'80x80' %>
                    </a>
                    <%= @detail['title']['rendered'].html_safe %><br/>

                    <%= @detail['ticket_caption'] %><br/>
                    <br/>
                    価格：<%= @detail['ticket_price'] %><br/>
                    有効期限：<%= @detail['ticket_period'] %><br/>

                    <font size="4" color="#ff0000">
                      <strong>
                      <p><%= @detail['ticket_billing'].html_safe %><p><br/>
                      </strong>
                    </font>

                    <%= link_to '購入', posts_create_path, :class => "btn btn-danger" %>

                    <form action="https://credit.j-payment.co.jp/gateway/payform.aspx" method="POST">
                    aid:<input name="aid" type="HIDDENs" value="116389" /><br/>
                    pt:<input name="pt" type="HIDDENs" value="1" /><br/>
                    jb:<input name="jb" type="HIDDENs" value="CAPTURE" /><br/>
                    cod:<input name="cod" type="HIDDENs" value="16" /><br/>
                    cmd:<input name="cmd" type="HIDDENs" value="2" /><br/>
                    iid:<input name="iid" type="HIDDENs" value="123" /><br/>
                    customer_id:<input name="customer_id" type="HIDDENs" value="16" /><br/>
                    em:<input name="em" type="HIDDENs" value="mm0607@hotmail.com" /><br/>
                    pr_code:<input name="pr_code" type="HIDDENs" value="123" /><br/>
                    <input name="submit" type="submit" value="購入（決済サイトへリンクします）" /></form>

<div class="a2a_kit a2a_kit_size_32 a2a_default_style">
    <a class="a2a_button_facebook"></a>
    <a class="a2a_button_twitter"></a>
    <a class="a2a_button_google_plus"></a>
    <a class="a2a_button_pinterest"></a>
    <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
</div>
<script async src="https://static.addtoany.com/menu/page.js"></script>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- /.row -->
