<div class="card_detail">
    <div class="card-body">
      <div class="card_header">
        <div class="card_image">
          <%= image_tag @detail['ticket_image_url'], {:style => "width:60px"} %>
        </div>
        <div class="card_title"><%= @detail['title']['rendered'].html_safe %></div>
      </div>
      <p class="cart_text">
        <%= @detail['ticket_caption'].html_safe %><br/>
      </p>
      <dl class="card_shop">
        <dt>使えるお店</dt>
        <dd>
          <ul class="yokonarabi">
              <% @shop_images.each do |icon| %>
              <li>
                <%= image_tag icon, {:style => "width:40px"} %>
              </li>
              <% end %>
          </ul>
        </dd>
      </dl>
      <dl class="card_info">
        <br clear="left">
        <dt>有効期限</dt>
        <dd><%= @detail['ticket_period'] %></dd>
      </dl>
      <dl class="card_info">
        <dt>販売価格</dt>
        <dd><%= @detail['ticket_price'] %></dd>
      </dl>
      <p class="notice"><%= @detail['ticket_billing'].html_safe %><p>

      <% if @show_buy_button == true %>
        <%= link_to '購入', posts_create_path, :class => "btn btn-danger" %>
      <% else %>
        <form action="https://credit.j-payment.co.jp/gateway/payform.aspx" method="POST" target="_blank">
        <input name="pn" type="HIDDEN" value="<%= @phone_number %>" />
        <input name="aid" type="HIDDEN" value=<%= session[:aid] %> />
        <input name="pt" type="HIDDEN" value=<%= session[:pt] %> />
        <input name="jb" type="HIDDEN" value=<%= session[:jb] %> />
        <input name="cod" type="HIDDEN" value=<%= @cod %> />
        <input name="cmd" type="HIDDEN" value=<%= session[:cmd] %> />
        <input name="iid" type="HIDDEN" value=<%= session[:pr_code] %> />
        <input name="customer_id" type="HIDDEN" value="<%= @customer_id %>" />
        <input name="em" type="HIDDEN" value=<%= @em %> />
        <input name="pr_code" type="HIDDEN" value=<%= session[:pr_code] %> />
        <input name="submit" type="submit" value="購入（決済サイトへリンクします）" class="btn btn-danger" /></form>
      <% end %>
      <p>※「購入」の際はChrome、IE、Safari等の専用ブラウザをご利用ください。</p>
      <br/>




  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_line"></a>
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>

    </div>
</div>
