<div class="row">
  <div class="container-fluid mt-4">
      <div class="row justify-content-center">
          <div class="col-auto mb-3">
              <div class="card bg-light" style="width: 40rem;">
                  <div class="card-body">
                    <a class="navbar-brand" href="/">
                      <img src="<%= @detail['ticket_image_url'] %>" alt="">
                    </a>
                    <%= @detail['title']['rendered'].html_safe %><br/>

                    <%= @detail['ticket_caption'] %><br/>
                    <br/>
                    価格：<%= @detail['ticket_price'] %><br/>
                    有効期限：<%= @detail['ticket_period'] %><br/>
                    <br/>

                    <%= link_to '購入', posts_create_path, :class => "btn btn-danger" %>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div><!-- /.row -->
