<div class="card_detail">
    <div class="card-body">
      <div class="card_header">
        <div class="card_image">
          <%= image_tag @detail['ticket_image_url'], :size=>'80x80' %>
        </div>
        <div class="card_title"><%= @detail['title']['rendered'].html_safe %></div>
      </div>
      <p class="cart_text">
        <%= @detail['ticket_caption'].html_safe %><br/>
      </p>
      <dl class="card_shop">
        <dt>使えるお店</dt>
        <dd>
          <ul class="yokonarabi">
              <% @shop_images.each do |icon| %>
              <li>
                <%= image_tag icon, :size=>'40x40' %>
              </li>
              <% end %>
          </ul>
        </dd>
      </dl>
      <dl class="card_info">
        <dt>有効期限</dt>
        <dd><%= @detail['ticket_period'] %></dd>
      </dl>
      <dl class="card_info">
        <dt>販売価格</dt>
        <dd><%= @detail['ticket_price'] %></dd>
      </dl>
      <p class="notice"><%= @detail['ticket_billing'].html_safe %><p>

      <% if @show_buy_button == true %>
        <%= link_to '購入', posts_create_path, :class => "btn btn-danger" %>
      <% else %>
        <form action="https://credit.j-payment.co.jp/gateway/payform.aspx" method="POST" target="_blank">
        pn:<input name="pn" type="HIDDENs" value="<%= @phone_number %>" /><br/>
        aid:<input name="aid" type="HIDDENs" value="116389" /><br/>
        pt:<input name="pt" type="HIDDENs" value="1" /><br/>
        jb:<input name="jb" type="HIDDENs" value="CAPTURE" /><br/>
        cod:<input name="cod" type="HIDDENs" value=<%= @cod %> /><br/>
        cmd:<input name="cmd" type="HIDDENs" value="1" /><br/>
        iid:<input name="iid" type="HIDDENs" value=<%= @pr_code %> /><br/>
        customer_id:<input name="customer_id" type="HIDDENs" value="<%= @customer_id %>" /><br/>
        em:<input name="em" type="HIDDENs" value=<%= @em %> /><br/>
        pr_code<input name="pr_code" type="HIDDENs" value=<%= @pr_code %> /><br/>
        <input name="submit" type="submit" value="購入（決済サイトへリンクします）" class="btn btn-danger" /></form>
      <% end %>
      <br/>


  <div class="a2a_kit a2a_kit_size_32 a2a_default_style">
      <a class="a2a_button_facebook"></a>
      <a class="a2a_button_twitter"></a>
      <a class="a2a_button_google_plus"></a>
      <a class="a2a_button_line"></a>
      <a class="a2a_dd" href="https://www.addtoany.com/share"></a>
  </div>
  <script async src="https://static.addtoany.com/menu/page.js"></script>

    </div>
</div>
