<p><%= t('.greeting', recipient: @resource.name) %></p>

<p><%= t('.instruction_1') %></p>
<p><%= t('.instruction_2') %></p>
<p><%= t('.instruction_3') %></p>

<p><%= link_to t('.action'), edit_password_url(@resource, reset_password_token: @token, post_id: $post_id) %></p>

<p><%= t('.instruction_4') %></p>
<p><%= t('.instruction_5') %></p>
<p><%= t('.instruction_6') %></p>
<p><%= t('.instruction_7') %></p>
<p><%= t('.instruction_8') %></p>
<p><%= t('.instruction_9') %></p>
<p><%= t('.instruction_10') %></p>
<p><%= t('.instruction_11') %></p>
<p><%= t('.instruction_12') %></p>
<p><%= t('.instruction_13') %></p>
<p><%= t('.instruction_14') %></p>
