<!DOCTYPE html>
<html>
  <head>
    <title>Slorn WEB</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="/">
            <img src="https://slorn.jp/wp-content/themes/slorn_2017summer/img/logo.svg" alt="">
          </a>
<!---
          <%= link_to 'Slorn', homes_index_path, :class => "btn btn-danger" %>
-->

          <form class="form-inline">
            <% if user_signed_in? %>
              <strong><%= link_to current_user.name, mypages_index_path, :class => "btn btn-outline-primary" %></strong>
              <%= link_to 'プロフィール変更', edit_user_registration_path, :class => "btn btn-outline-primary" %>
              <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, :class => "btn btn-danger" %>
            <% else %>
              <%= link_to 'ログイン', new_user_session_path, :class => "btn btn-danger" %>
              <%= link_to '新規登録', new_user_registration_path, :class => "btn btn-outline-primary" %>
            <% end %>
          </form>
        </div>
      </nav>
    </header>

    <% if flash_messages? %>
      <div class="container-fluid">
        <div class="container">
          <% flash_messages %>
        </div>
      </div>
    <% end %>

    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
